<template>
  <div class="full-container">
    <!-- <v-app-bar color="purple darken-2" dense dark>
      <v-spacer></v-spacer>
      <v-toolbar-title text-center>Ralia</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="goLogin">
        <v-icon>mdi-export</v-icon>
      </v-btn>
    </v-app-bar> -->

    <section class="home">
      <v-btn icon @click="goLogin" class="btn-out">
        <v-icon color="grey lighten-2" large>mdi-export</v-icon>
      </v-btn>
      <div class="listening">
        <div v-if="$color != ''" class="now-listening">
          <h1 class="radiodial">{{ $color.dial }}</h1>
          <h2 class="radiotitle">{{ $color.name }}</h2>
          <!-- <v-btn
            @click="goRadio"
            rounded
            x-large
            block
            color="grey darken-1 white--text"
            >Ver perfil</v-btn
          > -->
          <v-btn
            color="amarillo"
            class="ma-2 violeta--text botonch"
            @click="goRadio"
          >
            Ver radio
            <v-icon right dark> mdi-radio </v-icon>
          </v-btn>
        </div>
        <div v-if="$color == ''">
          <h1 class="marca">RA<br />LIA</h1>
        </div>
      </div>
      <div class="radios-container">
        <div class="desliza-container" v-if="$color == ''">
          <v-icon color="grey lighten-2" x-large
            >mdi-chevron-double-left</v-icon
          >
          <p class="desliza" color="grey lighten-4">
            Deslizá el dial y seleccioná una radio para comenzar a escuchar
          </p>
          <v-icon color="grey lighten-2" x-large
            >mdi-chevron-double-right</v-icon
          >
        </div>
        <ul>
          <li v-for="(radio, idx) of radios" v-bind:key="idx">
            <label class="radio-label" v-on:click="changeRadio"
              ><input
                type="radio"
                v-bind:name="radio.name"
                v-bind:id="idx"
                v-bind:value="radio"
                v-model="$color"
              />

              <img v-bind:src="radio.img" v-bind:alt="radio.name" />
              <h2>{{ radio.dial }}</h2>
              <h3>{{ radio.name }}</h3>
            </label>
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>
<style lang="scss" scoped>
.display-flex {
  display: flex;
}
.btn-out {
  float: right;
  margin: 20px 20px -10px 0;
}
.botonch {
  margin: 0;
  font-family: "Arista";
  font-weight: lighter;
  font-size: medium;
  padding: 14px 0;
  font-size: larger;
}
.home {
  background-color: rgb(42, 156, 142);
  height: 100%;
  .radio-auri {
    width: 100%;
  }
  .listening {
    background: url(../assets/auri.png);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 42%;
    text-align: center;
    margin: auto;
    display: inline-block;
    .now-listening {
      padding: 20% 0;
      .radiodial {
        font-family: Barlow;
        color: #73bfb8;
      }
      .radiotitle {
        color: lightgray;
        font-family: Arista;
        font-weight: lighter;
      }
    }
  }
  .marca {
    font-family: Arista;
    color: #73bfb8;
    text-align: center;
    font-weight: normal;
    font-size: 120px;
    line-height: 0.9;
    margin: 25% 0;
  }
  .desliza-container {
    display: flex;
    .desliza {
      font-family: "Barlow";
      font-size: 17px;
      font-weight: bold;
      color: #e0e0e0;
      text-align: center;
      margin: 0;
    }
  }
}
.radios-container {
  // margin: 10% 0;
  ul {
    padding: 0 !important;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    li {
      display: inline-block;

      background: url(../assets/backradio.png);
      background-position: center center;
      background-repeat: repeat-x;
      background-size: 207px;

      label {
        display: inline-block;
        padding: 0 20px;
        h2 {
          font-family: Barlow;
          font-size: 17px;
          color: white;
          text-align: center;
        }
        h3 {
          font-family: Arista;
          font-size: 14px;
          font-weight: lighter;
          color: white;
          text-align: center;
        }

        input {
          opacity: 0;
        }
        img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          margin-top: 55px;
        }
      }
    }
  }
}
</style>

<script>
// const radios = [
//   {
//     id: 0,
//     dial: "FM 94.3",
//     name: "Disney",
//     URL: "https://playerservices.streamtheworld.com/api/livestream-redirect/DISNEY_ARG_BA_SC",
//     img: "https://static-media.streema.com/media/cache/38/32/38329bc788f6983e070bb08e8a7208c9.jpg",
//     redes: {
//       twitter: "",
//       ig: "",
//       facebook: "",
//       youtube: "",
//     },
//     programacion: {
//       has: false,
//       lun: {},
//       mar: [],
//       mie: [],
//       jue: [],
//       vie: [],
//       sab: [],
//       dom: [],
//     },
//     hasMessage: false,
//   },
//   {
//     id: 1,
//     dial: "FM 95.9",
//     name: "Rock & Pop",
//     URL: "https://playerservices.streamtheworld.com/api/livestream-redirect/ROCKANDPOP.mp3",
//     img: "https://static-media.streema.com/media/cache/74/48/7448380388fa2c162553dbb05cc8ce65.jpg",
//     redes: {
//       twitter: "",
//       ig: "",
//       facebook: "",
//       youtube: "",
//     },
//     programacion: {
//       has: false,
//       lun: {},
//       mar: [],
//       mie: [],
//       jue: [],
//       vie: [],
//       sab: [],
//       dom: [],
//     },
//     hasMessage: false,
//   },
//   {
//     id: 2,
//     dial: "FM 100.7",
//     name: "Blue",
//     URL: "http://playerservices.streamtheworld.com/api/livestream-redirect/BLUE_FM_100_7.mp3",
//     img: "https://static-media.streema.com/media/cache/1e/a4/1ea47ee7804f300f56e0a3805e3d3a63.jpg",
//     redes: {
//       twitter: "",
//       ig: "",
//       facebook: "",
//       youtube: "",
//     },
//     programacion: {
//       has: false,
//       lun: {},
//       mar: [],
//       mie: [],
//       jue: [],
//       vie: [],
//       sab: [],
//       dom: [],
//     },
//     hasMessage: false,
//   },
//   {
//     id: 3,
//     dial: "FM 102.3",
//     name: "Aspen",
//     URL: "https://mdstrm.com/audio/60a2745ff943100826374a70/icecast.audio",
//     img: "https://static-media.streema.com/media/cache/db/5b/db5badcf583ccdb22c502d9d1794875b.jpg",
//     redes: {
//       twitter: "https://twitter.com/fmaspen",
//       ig: "",
//       facebook: "https://www.facebook.com/fmaspen102.3/",
//       youtube: "",
//     },
//     programacion: {
//       has: false,
//       lun: {},
//       mar: [],
//       mie: [],
//       jue: [],
//       vie: [],
//       sab: [],
//       dom: [],
//     },
//     hasMessage: false,
//   },
//   {
//     id: 4,
//     dial: "FM 105.5",
//     name: "Los 40",
//     URL: "http://playerservices.streamtheworld.com/api/livestream-redirect/LOS40_ARGENTINA.mp3",
//     img: "https://static-media.streema.com/media/cache/18/fb/18fb9ec421a84dd7980aeab120bc0591.jpg",
//     redes: {
//       twitter: "https://twitter.com/fmaspen",
//       ig: "",
//       facebook: "https://www.facebook.com/fmaspen102.3/",
//       youtube: "",
//     },
//     programacion: {
//       has: false,
//       lun: {},
//       mar: [],
//       mie: [],
//       jue: [],
//       vie: [],
//       sab: [],
//       dom: [],
//     },
//     hasMessage: false,
//   },
//   {
//     id: 5,
//     dial: "Online",
//     name: "RID Radio",
//     URL: "https://01.solumedia.com.ar:8152/stream",
//     img: "https://www.ridradio.com.ar/wp-content/uploads/2019/02/logo-transparente-blur74x80-compressor.png",
//     redes: {
//       twitter: "https://twitter.com/ridradio",
//       ig: "https://www.instagram.com/ridradiook/",
//       facebook: "https://www.facebook.com/Ridradio/",
//       youtube:
//         "https://www.youtube.com/channel/UCRx2QgNlzxCNVpOlycNDHow?view_as=subscriber",
//     },
//     programacion: {
//       has: true,
//       lun: [
//         {
//           time: "06:00 a 10:00",
//           name: "Acariciando tiburones",
//           desc: "Gaston Truffat - Gustavo Cuniberti",
//         },
//         {
//           time: "10:00 a 13:00",
//           name: "Alquimia",
//           desc: "Maria de los Ángeles Rico - Luisa Altamiranda",
//         },
//         {
//           time: "13:00 a 18:00",
//           name: "La pura Verdad",
//           desc: "Patricio “Pato” Pascual",
//         },
//         {
//           time: "18:00 a 21:00",
//           name: "Digitalizados",
//           desc: "Gabriel Perez - Leandro Quijano",
//         },
//       ],
//       mar: [
//         {
//           time: "06:00 a 10:00",
//           name: "Acariciando tiburones",
//           desc: "Gaston Truffat - Gustavo Cuniberti",
//         },
//         {
//           time: "10:00 a 13:00",
//           name: "Alquimia",
//           desc: "Maria de los Ángeles Rico - Luisa Altamiranda",
//         },
//         {
//           time: "13:00 a 18:00",
//           name: "La pura Verdad",
//           desc: "Patricio “Pato” Pascual",
//         },
//         {
//           time: "18:00 a 21:00",
//           name: "Digitalizados",
//           desc: "Gabriel Perez - Leandro Quijano",
//         },
//       ],
//       mie: [
//         {
//           time: "06:00 a 10:00",
//           name: "Acariciando tiburones",
//           desc: "Gaston Truffat - Gustavo Cuniberti",
//         },
//         {
//           time: "10:00 a 13:00",
//           name: "Alquimia",
//           desc: "Maria de los Ángeles Rico - Luisa Altamiranda",
//         },
//         {
//           time: "13:00 a 18:00",
//           name: "La pura Verdad",
//           desc: "Patricio “Pato” Pascual",
//         },
//         {
//           time: "18:00 a 21:00",
//           name: "Digitalizados",
//           desc: "Gabriel Perez - Leandro Quijano",
//         },
//       ],
//       jue: [
//         {
//           time: "06:00 a 10:00",
//           name: "Acariciando tiburones",
//           desc: "Gaston Truffat - Gustavo Cuniberti",
//         },
//         {
//           time: "10:00 a 13:00",
//           name: "Alquimia",
//           desc: "Maria de los Ángeles Rico - Luisa Altamiranda",
//         },
//         {
//           time: "13:00 a 18:00",
//           name: "La pura Verdad",
//           desc: "Patricio “Pato” Pascual",
//         },
//         {
//           time: "18:00 a 21:00",
//           name: "Digitalizados",
//           desc: "Gabriel Perez - Leandro Quijano",
//         },
//       ],
//       vie: [
//         {
//           time: "06:00 a 10:00",
//           name: "Acariciando tiburones",
//           desc: "Gaston Truffat - Gustavo Cuniberti",
//         },
//         {
//           time: "10:00 a 13:00",
//           name: "Alquimia",
//           desc: "Maria de los Ángeles Rico - Luisa Altamiranda",
//         },
//         {
//           time: "13:00 a 18:00",
//           name: "La pura Verdad",
//           desc: "Patricio “Pato” Pascual",
//         },
//         {
//           time: "18:00 a 21:00",
//           name: "Digitalizados",
//           desc: "Gabriel Perez - Leandro Quijano",
//         },
//         {
//           time: "21:00 a 00:00",
//           name: "Rid Weekend",
//           desc: "Matías Binder",
//         },
//       ],
//       sab: [
//         {
//           time: "10:00 a 13:00",
//           name: "Mundo TIrano",
//           desc: "Maria de los Ángeles Rico - Luisa Altamiranda",
//         },
//         {
//           time: "13:00 a 16:00",
//           name: "Hartos de Voz",
//           desc: "Patricio “Pato” Pascual",
//         },
//         {
//           time: "16:00 a 00:00",
//           name: "Rid Weekend",
//           desc: "Matías Binder",
//         },
//       ],
//       dom: [
//         {
//           time: "10:00 a 13:00",
//           name: "Delicias Italianas",
//           desc: "María Estela Fariní - Jose Parisi",
//         },
//         {
//           time: "13:00 a 16:00",
//           name: "¿Y ahora que hacemo?",
//           desc: "David Castañeda",
//         },
//         {
//           time: "16:00 a 00:00",
//           name: "Rid Weekend",
//           desc: "Matías Binder",
//         },
//       ],
//     },
//     hasMessage: false,
//   },
//   {
//     id: 6,
//     dial: "AM 590",
//     name: "Continental",
//     URL: "https://24253.live.streamtheworld.com/CONTINENTALAAC.aac",
//     img: "https://static-media.streema.com/media/cache/4f/8e/4f8e92d912a0bf5dc3e03204d3f0b721.jpg",
//     redes: {
//       twitter: "",
//       ig: "",
//       facebook: "",
//       youtube: "",
//     },
//     programacion: {
//       has: false,
//       lun: {},
//       mar: [],
//       mie: [],
//       jue: [],
//       vie: [],
//       sab: [],
//       dom: [],
//     },
//     hasMessage: false,
//   },
//   {
//     id: 7,
//     dial: "AM 630",
//     name: "Rivadavia",
//     URL: "https://24253.live.streamtheworld.com/CONTINENTALAAC.aac",
//     img: "https://static-media.streema.com/media/cache/ed/50/ed50e06e9790eb03abc34810ee13549e.jpg",
//     redes: {
//       twitter: "",
//       ig: "",
//       facebook: "",
//       youtube: "",
//     },
//     programacion: {
//       has: false,
//       lun: {},
//       mar: [],
//       mie: [],
//       jue: [],
//       vie: [],
//       sab: [],
//       dom: [],
//     },
//     hasMessage: false,
//   },
// ];

import axios from "axios";
export default {
  name: "Home",
  data() {
    return {
      radioSelected: "",
      radios: []
    };
  },
  mounted: function () {
    axios.get(this.BASE_URL + "api/radios").then((res) => {
      
      res.data.forEach(element => {
        if(element.active){
          this.radios.push(element)
        }
      });
    });
  },

  methods: {
    changeRadio() {
      if (this.$color != "") {
        document.getElementById("audioplayer").pause();
        document.getElementById("audioplayer").load();
      }
    },
    goRadio() {
      this.$router.push("/radiodetail");
    },
    goLogin() {
      this.$color = "";
      this.$router.push("/login");
    },
  },
};
</script>


