<template>
  <v-layout fill-height align-center class="all-login">
    <v-flex xs12 sm8 md6 lg5 xl4>
      <v-img
        src="@/assets/logo.png"
        max-height="160"
        class="mb-16"
        contain
      ></v-img>
      <v-layout justify-center >
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
          v-show="loading"
         justify-space-between
        ></v-progress-circular>
      </v-layout>

      <v-alert
        v-if="error"
        border="top"
        color="red lighten-2"
        dark
        v-show="!loading"
      >
        {{ error }}
      </v-alert>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        class="formlogin"
        v-show="!loading"
      >
        <v-card-text>
          <v-text-field
            v-model="user.email"
            :rules="emailRules"
            label="Tu correo"
              outlined
               color="violeta"
                class="naranja-text"
           autocomplete="username"

          ></v-text-field>
          <v-text-field
            v-model="user.password"
            label="Contraseña"
            type="password"
            :rules="passRules"
             outlined
               color="violeta"
                class="naranja-text"
          ></v-text-field>
  
          <p class="go-register">
            ¿No tenés cuenta? <span @click="goRegister">Registrate</span>
          </p>
        </v-card-text>
        <v-card-text>
          <v-layout justify-space-around>
            <v-btn
              @click="executeLogin"
              
              :disabled="!valid"
              x-large
              block
             class="btn-all"
                color="amarillo"
              >Ingresar</v-btn
            >
          </v-layout>
        </v-card-text>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  mounted() {
    // this.$store.dispatch("logout");
  },
  data() {
    return {
      loading: false,
      user: {
        email: null,
        password: null,
      },
      error: null,
      valid: true,
      emailRules: [
        (v) => !!v || "Debés ingresar tu email",
        (v) => /.+@.+\..+/.test(v) || "El correo electrónico debe ser válido",
      ],
      passRules: [
        (v) => !!v || "Debes ingresar una contraseña",
        (v) =>
          (v && v.length > 5) ||
          "La contraseña debe contener 5 o más caracteres",
      ],
    };
  },
  methods: {
    async executeLogin() {
      this.loading = true;
      this.error = null;
      axios
        .post(this.BASE_URL + "api/users/login", {
          email: this.user.email,
          password: this.user.password,
        })
        .then((res) => {
         // localStorage.setitem("token", res.data.token);
          localStorage.token = res.data.token;
          localStorage.email = this.user.email;
          console.log(res.data.token)
           this.$router.push("/home");
        })
        .catch((err) => {
          this.error = err.response.data.message;
        })
        .finally(() => {
          this.loading = false;
        });

      // this.error = null;
      // this.$store.dispatch("login", this.user).then((response) => {
      //   console.log(response);
      //   if (response.status == 200) {
      //     this.$router.push("/chat");
      //     this.error = null;
      //   } else {
      //     this.error = response.error;
      //   }
      // });
    },
    goRegister() {
      this.$router.push("/register");
    },
  },
  setup() {},
};
</script>
<style lang="scss" scoped>
.all-login {
  background-color: #f2f2f2;
}

.custom-placeholer-color input,
.custom-label-color input {
  color: white !important;
}

.go-register {
  font-family: Barlow;
  color: rgb(115, 130, 137);
  font-size: 18px;
  text-align: center;
  span {
    font-weight: bold;
  }
}
</style>