<template>
  <div class="radio-detail">
    <div class="header">
      <v-card class="hijadeputa">
        <v-toolbar color="verde" flat>
          <v-btn icon color="white">
            <v-icon color="verdeclaro" @click="goHome"
              >mdi-arrow-left-bold</v-icon
            >
          </v-btn>
          <v-toolbar-title color="verdeclaro"
            ><span class="radiotitle"
              >{{ $color.name }} - {{ items[tab] }}</span
            ></v-toolbar-title
          >
          <v-spacer></v-spacer>
        </v-toolbar>
        <div class="radio-description">
          <div>
            <img v-bind:src="$color.img" v-bind:alt="$color.name" />
          </div>
          <div class="radio-title-cont">
            <h1>{{ $color.name }}</h1>
            <h2>
              {{ $color.dial }}
              <span>
                <v-btn
                  v-if="$color.twitter != ''"
                  icon
                  tile
                  v-bind:id="$color.name + 'tw'"
                  target="_blank"
                  v-bind:href="'https://twitter.com/' + $color.twitter"
                >
                  <v-icon medium color="blue lighten-1"> mdi-twitter </v-icon>
                </v-btn>
              </span>
              <span>
                <v-btn
                  v-if="$color.facebook != ''"
                  icon
                  tile
                  v-bind:id="$color.name + 'fb'"
                  target="_blank"
                  v-bind:href="'https://www.facebook.com/' + $color.facebook"
                >
                  <v-icon medium color="facebook"> mdi-facebook </v-icon>
                </v-btn>
              </span>
              <span>
                <v-btn
                  v-if="$color.ig != ''"
                  icon
                  tile
                  v-bind:id="$color.name + 'ig'"
                  target="_blank"
                  v-bind:href="'https://www.instagram.com/' + $color.ig"
                >
                  <v-icon medium color="instagram"> mdi-instagram </v-icon>
                </v-btn>
              </span>
              <span>
                <v-btn
                  v-if="$color.youtube != ''"
                  icon
                  tile
                  v-bind:id="$color.name + 'yt'"
                  target="_blank"
                  v-bind:href="$color.youtube"
                >
                  <v-icon medium color="youtube"> mdi-youtube </v-icon>
                </v-btn>
              </span>
            </h2>
          </div>
        </div>
        <v-toolbar color="verde" flat class="tab-bar-no-header">
          <template v-slot:extension>
            <v-tabs v-model="tab" align-with-title>
              <v-tabs-slider color="yellow"></v-tabs-slider>

              <v-tab v-for="item in items" :key="item">
                <span class="tab-item-title">{{ item }}</span>
              </v-tab>
            </v-tabs>
          </template>
        </v-toolbar>

        <v-tabs-items v-model="tab">
          <v-tab-item v-for="item in items" :key="item">
            <v-card flat>
              <v-card-text class="content-card-text">
                <div v-if="tab == 0" class="chat-online">
                 
                    <ul>
                    <li 
                      v-for="msg in listMessages"
                      :key="msg._id"
                      :class="msg.sender ? 'is-admin': getClass()"
                      v-show="msg.radio == $color._id"
                    >
                      <span>{{ msg.from.charAt(0).toUpperCase() }}</span>
                      <p><strong>{{msg.from.charAt(0).toUpperCase()}}{{msg.from.split("@")[0].slice(1)}}:</strong> {{ msg.message }}</p>
                    </li>
                                    </ul> <div id="scrollable"></div> 
              
                  <form @submit.prevent="sendThisMessage" class="enviar-chat">
                    <input
                      v-model="chatMsg"
                      type="text"
                      placeholder="Escribí tu mensaje"
                      maxlength="200"
                    />

                    <v-btn
                      class="btn-all"
                      color="amarillo"
                      :disabled="!chatMsg"
                      type="submit"
                    >
                      Enviar
                    </v-btn>
                  </form> 
                </div>
                <div v-if="tab == 1" class="programacion">
                  <v-toolbar color="violeta" flat class="tab-bar-no-header">
                    <template v-slot:extension>
                      <v-tabs v-model="dia" align-with-title>
                        <v-tabs-slider color="yellow"></v-tabs-slider>

                        <v-tab v-for="diax in dias" :key="diax">
                          <span class="tab-item-title">{{ diax }}</span>
                        </v-tab>
                      </v-tabs>
                    </template>
                  </v-toolbar>
                  <v-tabs-items v-model="dia">
                    <v-tab-item v-for="diax in dias" :key="diax">
                      <div>
                        <div class="unprograma-tarjeta">
                          <div
                            v-for="programa in getDayList()"
                            :key="programa._id"
                            class="unprograma"
                          >
                            <div class="unprograma-title">
                              <h3>{{ programa.name }}</h3>
                              <p>
                                {{ programa.time }}
                                <v-icon color="amarillo" @click="goHome"
                                  >mdi-clock-time-five-outline</v-icon
                                >
                              </p>
                            </div>
                            <p class="programa-desc">{{ programa.desc }}</p>
                          </div>
                        </div>
                      </div>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
                <div v-if="tab == 2" class="publicaciones">
                  <div v-for="publi in orderedPosts" v-bind:key="publi._id">
                    <div v-if="publi.tipo == 'post'" class="publi-post">
                      <img :src="publi.img" alt="" />
                      <div class="publi-content">
                        <p class="post-title">
                          <span>{{ $color.name }}</span> {{ publi.cont }}
                        </p>
                        <p class="post-date">{{ publi.time }}</p>
                      </div>
                    </div>
                    <div v-else class="publi-sorteo">
                      <v-layout
                        justify-center
                        class="todo"
                        v-show="publi.loading"
                      >
                        <v-progress-circular
                          :size="50"
                          color="violeta"
                          indeterminate
                          justify-space-between
                        ></v-progress-circular>
                      </v-layout>
                      <v-container fluid v-show="!publi.loading">
                        <v-radio-group v-model="radios">
                          <template v-slot:label>
                            <div>
                              <strong>{{ publi.title }}</strong>
                              <span> {{ publi.text }}</span>
                            </div>
                          </template>
                          <div v-if="!hasPartipated(publi) && publi.winner == ''">
                            <v-radio
                              v-for="option in publi.options"
                              :key="option.text"
                              :value="option._id"
                              color="violeta"
                            >
                              <template v-slot:label>
                                <div class="option-label">
                                  {{ option.text }}
                                </div>
                              </template>
                            </v-radio>
                          </div>
                        </v-radio-group>
                        <v-btn
                          class="btn-all"
                          color="amarillo"
                          :disabled="!radios"
                          @click="participarSorteo(publi)"
                          v-if="!hasPartipated(publi) && publi.winner == ''"
                        >
                          Enviar
                        </v-btn>
                        <!-- <v-btn color="amarillo" class="mr-4"> Enviar </v-btn> -->
                        <div v-if="publi.winner == '' ">
                          <v-alert
                            v-if="hasPartipated(publi)"
                            dense
                            prominent
                            type="success"
                            >¡Ya estás participando!</v-alert
                          >
                        </div>
                        <div v-else>
                        
                          <v-alert
                            v-if="esGanador(publi)"
                            dense
                            prominent
                            type="success"
                            >¡Felicitaciones, ganaste! Revisá tu correo y seguí
                            las instrucciones
                          </v-alert>
                          <v-alert
                            v-if="!esGanador(publi)"
                            dense
                            prominent
                            type="warning"
                            >El sorteo finalizó, lamentablemente no ganaste.
                            ¡Pero atento, siempre hay más sorteos!</v-alert
                          >
                        </div>
                      </v-container>
                    </div>
                  </div>
                </div>
                <div v-if="tab == 3" class="mensajes">
                  <v-layout justify-center class="todo" v-show="loading">
                    <v-progress-circular
                      :size="50"
                      color="violeta"
                      indeterminate
                      justify-space-between
                    ></v-progress-circular>
                  </v-layout>

                  <v-alert
                    v-if="error"
                    border="top"
                    color="red lighten-2"
                    dark
                    v-show="!loading"
                  >
                    {{ error }}
                  </v-alert>
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                    class="formlogin"
                    v-show="!loading"
                  >
                    <v-card-text>
                      <v-text-field
                        v-model="message.asunto"
                        :rules="rules"
                        label="Asunto"
                        outlined
                        color="violeta"
                        class="naranja-text"
                      ></v-text-field>
                      <v-textarea
                        outlined
                        color="violeta"
                        name="input-7-4"
                        label="Tu mensaje"
                        class="naranja-text"
                        v-model="message.contenido"
                      ></v-textarea>
                    </v-card-text>
                    <v-card-text>
                      <v-layout justify-space-around>
                        <v-btn
                          @click="sendMessage"
                          :disabled="!valid"
                          x-large
                          block
                          class="btn-all"
                          color="amarillo"
                          >Enviar</v-btn
                        >
                      </v-layout>
                    </v-card-text>
                  </v-form>
                  <v-row justify="center">
                    <v-dialog v-model="dialog" persistent max-width="290">
                      <v-card>
                        <h1 class="send-title">¡Listo!</h1>
                        <h2 class="send-subtitle">Tu mensaje fue enviado</h2>
                        <v-img
                          src="@/assets/cartero.gif"
                          max-height="160"
                          class="mb-16"
                          contain
                        ></v-img>
                        <v-card-actions>
                          <v-spacer></v-spacer>

                          <v-btn
                            class="btn-all"
                            color="amarillo"
                            @click="dialog = false"
                          >
                            Cerrar
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-row>
                </div>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </div>
  </div>
</template>

<style lang="scss">
.chat-online {
  padding: 3px;
    background: #6c65aa;
  .enviar-chat{
    border-top: 10px solid #6c65aa;
    display: flex;
    input{
      flex:2;
      background: whitesmoke;
      padding:3px
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 399px;
    height: 30px;
    overflow: scroll;
    background: white;
  }
  li {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
  }
  li > p {
    color: black;
    border-radius: 0 12px 12px 12px;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .verde-clar p {
    background: #73bfb8;
  }
  .verde-clar span {
    background: #73bfb8;
  }
  .naranj p {
    background: #ed7457;
  }
  .naranj span {
    background: #ed7457;
  }
  .amarill p {
    background: #ffdd4b;
  }
  .amarill span {
    background: #ffdd4b;
  }
  .verd p {
    background: #2a9c8f;
  }
  .verd span {
    background: #2a9c8f;
  }
  
  li > span {
    color: white;
    font-family: "Barlow-Regular";
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px 16px;
    margin-left: 10px;
  }
  .is-admin {
    flex-direction: row-reverse;
  }
  .is-admin > span {
    background: #6c65aa;
  }
  .is-admin > p {
    color: #6c65aa;
    border-radius: 12px 0 12px 12px;
    background: rgba(108, 101, 170, 0.2);
    padding: 10px;
    margin-left: 25px;
  }
}
.btn-all {
  color: #6c65aa;
  margin: 0;
  font-family: "Arista";
  font-weight: lighter;
  font-size: medium;
  padding: 14px 0;
}
.back-amarillo {
  background-color: #ffdd4b !important;
}
.radio-detail {
  height: 100%;
  padding-bottom: 50px !important;
  background: #6c65aa;
  .header {
    .radiotitle {
      color: #73bfb8;
      font-family: "Arista" !important;
      font-weight: lighter;
      font-size: 0.9em;
    }
    .tab-bar-no-header {
      height: auto !important;
      .v-toolbar__content {
        display: none !important;
      }
    }
  }

  .v-slide-group__prev {
    display: none !important;
  }
  .v-card__text {
    padding: 0 !important;
  }
  .radio-description {
    background-color: #2a9c8f;
    display: flex;
    align-items: center;
    h2 {
      color: white;
      font-family: "Barlow";
      font-size: inherit;
    }
    h1 {
      color: #ffdd4b;
      font-family: "Arista";
      font-weight: lighter;
    }
  }
  .radio-title-cont {
    margin-left: 15px;
  }
  .tab-item-title {
    font-family: Arista !important;
    color: white;
  }
  .unprograma-tarjeta {
    background-color: #6c65aa;
    border-radius: none !important;
    box-shadow: 0 !important;
    .unprograma {
      padding: 15px;
      .unprograma-title {
        display: flex;
        justify-content: space-between;
        h3 {
          font-family: Barlow;
          color: #ffdd4b;
          text-transform: uppercase;
          font-size: 1em;
        }
        p {
          font-family: Barlow;
          color: white;
          text-transform: uppercase;
          margin: 0;
          font-weight: bold;
        }
      }
      .programa-desc {
        font-family: Barlow;
        color: white;
        font-weight: lighter;
        text-transform: uppercase;
        margin: 0;
        font-size: 0.8em;
      }
    }
  }
  .content-card-text {
    // padding-bottom:50px!important;
    //  background-color: #6c65aa!important;
  }
  .publicaciones {
    background-color: white;
    border: 10px solid #6c65aa;
    .publi-post {
      border-bottom: 10px solid #6c65aa;
      img {
        width: 100%;
      }
      .publi-content {
        padding: 10px;
        .post-title {
          font-family: Barlow;
          font-weight: bolder;
          color: #6c65aa;
          margin: 0;
          span {
            color: #ed7457;
          }
        }
        .post-date {
        }
      }
    }
    .publi-sorteo {
      font-family: Barlow;
      font-weight: bolder;
      border-bottom: 10px solid #6c65aa;
      span {
        display: block;
        color: #6c65aa;
        margin: 0;
        font-family: "Arista";
        font-weight: lighter;
        font-size: medium;
        padding: 14px 0;
      }
      .option-label {
        color: #6c65aa;
        font-family: "Arista";
        font-weight: lighter;
        font-size: medium;
      }
    }
  }
  .mensajes {
    padding: 20px;
    padding-bottom: 50px;
    border: 14px solid #6c65aa;
    background: white;
    .naranja-text input,
    .naranja-text textarea {
      color: #6c65aa !important;
    }
    fieldset {
      border: 2px solid #6c65aa;
    }
    .v-label--active {
      color: #ed7457 !important;
    }
  }
  .todo {
    padding: 116px;
  }
}
.hijadeputa {
  border-radius: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.send-title {
  color: #6c65aa;
  font-family: "Arista" !important;
  font-weight: lighter;
  font-size: 2.3em !important;
  text-align: center !important;
  padding-top: 20px;
}
.send-subtitle {
  color: #ed7457;
  font-family: "Barlow" !important;
  font-weight: bolder;
  font-size: 1.3em !important;
  text-align: center !important;
}
</style>

<script>
import _ from "lodash";
import Vue from "vue";
import axios from "axios";
import { db } from "@/firebase";
//import firebase from "firebase/app";

export default {
  name: "RadioDetail",
  mounted: function () {
    if (this.$color == "") {
      this.$router.push("/home");
    } else {
      this.programacion.lun = this.$color.lun;
      this.programacion.mar = this.$color.mar;
      this.programacion.mie = this.$color.mie;
      this.programacion.jue = this.$color.jue;
      this.programacion.vie = this.$color.vie;
      this.programacion.sab = this.$color.sab;
      this.programacion.dom = this.$color.dom;
      this.$color.sorteos.forEach((element) => {
        element.loading = false;
      });
      this.publicaciones = [
        ...this.publicaciones,
        ...this.$color.publicaciones,
        ...this.$color.sorteos,
      ];

      db.collection("messages")
        .orderBy("createdAt")
        .onSnapshot((snap) => {
          this.listMessages = snap.docs.map((doc) => {
             const dat = doc.data();
             dat.sender = dat.from == localStorage.email;
            // console.log(dat);
            // console.log(dat.radio);
            // console.log(this.$color._id);
            // console.log(localStorage.email)
            // if (dat.radio == this.$color._id) {
            //   dat.sender = dat.from == localStorage.email;
            //   return dat;
            // }
            return dat;
          });
       
          setTimeout(() => {
            this.scrollToBottom();
            console.log("ok");
          }, 1000);
        });
    }
  },
  watch: {
    tab: function () {
      if (this.tab == 1 || this.tab == 2) {
        this.updateRadio();
      }
    },
  },
  computed: {
    orderedPosts: function () {
      return _.orderBy(this.publicaciones, "_id", "desc");
    },
  },
  data() {
    return {
      tab: null,
      dia: null,
      chatMsg: "",
      dias: ["LUN", "MAR", "MIE", "JUE", "VIE", "SAB", "DOM"],
      items: [
        "Chat Online",
        "Programación",
        "Publicaciones",
        "Mensaje a la radio",
      ],
      radios: "",
      publicaciones: [],
      loading: false,
      message: {
        asunto: null,
        contenido: null,
      },
      error: null,
      valid: true,
      rules: [(v) => !!v || "Campo requerido"],
      dialog: false,
      programacion: {
        lun: [],
        mar: [],
        mie: [],
        jue: [],
        vie: [],
        sab: [],
        dom: [],
      },
      listMessages: [],
    };
  },
  methods: {
    goHome() {
      this.$router.push("/home");
    },
     scrollToBottom() {
      document.getElementById("scrollable").scrollIntoView();
    },
    updateRadio() {
      axios.get(this.BASE_URL + "api/radios/" + this.$color._id).then((res) => {
        this.programacion.lun = res.data.lun;
        this.programacion.mar = res.data.mar;
        this.programacion.mie = res.data.mie;
        this.programacion.jue = res.data.jue;
        this.programacion.vie = res.data.vie;
        this.programacion.sab = res.data.sab;
        this.programacion.dom = res.data.dom;
        this.$color.sorteos.forEach((element) => {
          element.loading = false;
        });
        this.publicaciones = [...res.data.publicaciones, ...res.data.sorteos];
         db.collection("messages")
        .orderBy("createdAt")
        .onSnapshot((snap) => {
          this.listMessages = snap.docs.map((doc) => {
            const dat = doc.data();
            if (dat.radio == this.$color._id) {
              dat.sender = dat.from == localStorage.email;
              return dat;
            }
          });
       
          setTimeout(() => {
            this.scrollToBottom();
            console.log("ok");
          }, 1000);
        });
      });
    },
    sendThisMessage() {
      const messageInfo = {
        from: localStorage.email,
        radio: this.$color._id,
        message: this.chatMsg,
        createdAt: Date.now(),
      };
      db.collection("messages")
        .add(messageInfo)
        .then(() => {
          this.chatMsg = "";
           this.scrollToBottom();
        });
       
    },
    getClass() {
      var colors = ["verde-clar", "naranj", "amarill", "verd"];
      const randomIndex = Math.floor(Math.random() * colors.length);
      return colors[randomIndex];
    },
    sendMessage() {
      this.loading = true;
      const params = {
        mail: localStorage.email,
        asunto: this.message.asunto,
        contenido: this.message.contenido,
      };
      axios
        .post(this.BASE_URL + "api/mensajes/" + this.$color._id, params)
        .then(() => {
          this.dialog = true;
          this.message.asunto = null;
          this.message.contenido = null;
          this.valid = true;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    participarSorteo(publi) {
      const idx = this.publicaciones.findIndex((x) => x._id == publi._id);
      this.publicaciones[idx].loading = true;
      Vue.set(this.publicaciones, idx, this.publicaciones[idx]);

      axios
        .put(this.BASE_URL + "api/radios/participar/" + this.$color._id, {
          sorteoId: publi._id,
          participante: localStorage.email,
          voto: this.radios,
        })
        .then(() => {
          this.publicaciones[idx].participantes.push(localStorage.email);
        })
        .finally(() => {
          this.publicaciones[idx].loading = false;
          Vue.set(this.publicaciones, idx, this.publicaciones[idx]);
          console.log(this.publicaciones);
          this.updateRadio();
        });
    },
    hasPartipated(publi) {
      return publi.participantes.indexOf(localStorage.email) > -1;
    },
    esGanador(publi) {
      return publi.winner == localStorage.email;
    },
    getDayList() {
      if (this.dia == null) {
        return;
      } else if (this.dia == 0) {
        return this.programacion.lun;
      } else if (this.dia == 1) {
        return this.programacion.mar;
      } else if (this.dia == 2) {
        return this.programacion.mie;
      } else if (this.dia == 3) {
        return this.programacion.jue;
      } else if (this.dia == 4) {
        return this.programacion.vie;
      } else if (this.dia == 5) {
        return this.programacion.sab;
      } else return this.programacion.dom;
    },
  },
};
</script>


