<template>
  <v-app>
    <v-main>
      <div class="full-container">
        <router-view />
        <div class="footer-cont">
          <div class="play-animation"></div>
          <section class="footer" v-if="$color != ''">
            <div class="action-btns">
              <v-icon
                v-if="!playing"
                v-on:click="play"
                color="rgb(255, 221, 75)"
                x-large
                >mdi-play-circle</v-icon
              >
              <v-icon
                v-if="playing"
                v-on:click="pause"
                color="rgb(255, 221, 75)"
                x-large
                >mdi-pause-circle</v-icon
              >
              <v-icon v-on:click="stop" color="rgb(255, 221, 75)"
                >mdi-stop-circle</v-icon
              >
            </div>

            <div>
              <h1 class="radiodial">{{ $color.dial }}</h1>
              <h2 class="radiotitle">{{ $color.name }}</h2>
            </div>
            <img v-bind:src="$color.img" v-bind:alt="$color.name" />
          </section>
        </div>
      </div>
      <div v-if="$color != ''">
        <audio id="audioplayer" autoplay>
          <source v-bind:src="$color.URL" type="audio/mpeg" />
        </audio>
      </div>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    playing: true,
  }),
  methods: {
    play() {
      this.playing = true;
      document.getElementById("audioplayer").pause();
      document.getElementById("audioplayer").load();
    },
    pause() {
      if (this.$color != "") {
        this.playing = false;
        document.getElementById("audioplayer").pause();
      }
    },
    stop() {
      this.$color = "";
    },
  },
  watch: {
    $color: function () {
      if (this.$color != "") {
        this.playing = true;
      }
    },
  },
};
</script>
<style lang="scss">
@font-face {
  font-family: "Arista";
  src: local("Arista"), url(assets/fonts/Arista.ttf);
}
@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url(assets/fonts/Barlow.ttf);
}
.full-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footer-cont{
  position: relative;
}
.footer {

  background-color: #6c65aa;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .action-btns {
    display: flex;
  }
  .radiodial {
    color: white;
    font-family: "Barlow";
    font-size: inherit;
  }
  .radiotitle {
    color: #ffdd4b;
    font-family: "Arista";
    font-weight: lighter;
  }
  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 10px;
  }
}
.play-animation {
  background: url(./assets/playing.gif);
  width: 100%;
      height: 57%;
  position: absolute;
  background-size: contain;
      bottom: 80px;
}
</style>
